
<table class="table table-hover displayDevices">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">IP Address</th>
      <th scope="col">Port</th>
      <th scope="col">UUID</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="device in vm.devicesData">
      <td scope="row">{{device.name}}</td>
      <td>{{device.username}}</td>
      <td>{{device.ip}}</td>
      <td>{{device.port}}</td>
      <td>{{device.uuid}}</td>
      <td ng-click="vm.deleteDevice(device.id)" style="color: red;">x</td>
    </tr>
  </tbody>
</table>