/* Important: Having the name main (and not app.css) will load this 
   global styling file AFTER the bootstrap styiling is being loaded. */

.displayDevices {
   text-align: center;
}

.displayDevices > thead {
   font-size: larger;
   font-weight: 700;
   color: white;
}
