.ha-box {
    margin: 1% 1% 0 1%; 
    background-color: #073642;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ha-table {
    color: black;
    text-align: center;
}
.ha-table > thead {
    font-size: larger;
    font-weight: 700;
    background-color: #e2a90d;
}

table.dataTable > tbody > tr.child:hover {
    background: white !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
}

.row-table {
    color: black;
    text-align: center;
}

.row-table > thead {
    font-size: larger;
    font-weight: 700;
}

.dataTables_wrapper {
    margin: 0 0.5%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: white !important;
    background: gray;
 }
 
 .dataTables_wrapper .dataTables_paginate .paginate_button.current,
 .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
     background: #2AA198;
 }
 
 .dataTables_wrapper .dataTables_paginate .paginate_button {
     border: 1px solid #2AA198;
     color: white !important;
 }
 .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
     background: #2AA198;
 }
 
 .dataTables_length, .dataTables_filter, .dataTables_info {
    color: #e2a90d !important;
 }
 