/* Selectors */
/* .                       <- class selector */
.className {
    /* these attributes will modify every element with this certain class */
}

/* Bonus: a HTML element may have multiple classes: <div class="navItem active> */
/* we can have the following */
.navItem {
    /* we want every navItem to have these attributes */
    border-radius: 10px;
    background-color: cyan;
    color: black;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
}

.active {
    /* When a navItem is active we want to give some visual feedback to the user */
    background-color: blue;
    color: yellow;
}


/* #                       <- id selector */

#idName {
    /* attributes come here; */
}
/* If we have the following given element <div class="whateverClass" id="whateverId"> */
/* and  we have the following CSS */
#whateverId {
    color: blue; 
}
.whateverClass {
    color: red;
}
/* The color taken will be blue because the ID selector has a higher level of importance */

/* body / div / h1 / etc   <- tag selector */

body {
    /* attributes */
}
div {
    /* attributes */
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* We can also specify parent / child */
.navBar .navItem {
    /* This will style an element (or more) that has the class name .navItem and has as parent a .navBar element  */
}

/* Multiple elements */
.elem1, .elem2, #elem3, div {
    color: red;
}

/* Other functionalities */
.elem1 > .elem2 { 
    /* Directly the child */
}

.elem1 + .elem2 {
    /* Modifies elem2 if it's the immediate sibling of elem1 */
}

