<div>
    <div class="upload-container">
        <h5>Upload device_info.json</h5>
        <p>{{message}}</p>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" ng-click="upload_device_info()">Upload</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="device_info">
                    <label class="custom-file-label" for="device_info">Choose file</label>
                </div>
            </div>
        </div>
    </div>
</div>
