#mainNav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 'logo' 'main_entries' 'user';
 }
 
#mainNav #logo {
    grid-area: 'logo';
}

#main_entries {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
    margin: 0px;
    text-align: center;
}


.nav_item a, .nav_item a:hover {
    padding-bottom: 2px;
    text-decoration: none;
}
  
.nav_item {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    text-align: center;
}

.nav_item:last-child {
    margin-right: 0;
}
  
.nav_item:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav_item:hover:after {
    width: 70%;
    background: #049fd9;
}

.nav_item a.active {
    border-bottom: 3px solid #049fd9;
}